.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.title h2 {
    padding: 20px 0;
    font-size: 35px;
}

.banner {
    background: url('../../images/banner.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
}

.banner .mask {
    width: 100%;
    height: 100%;
    padding: 30px 10px;
    /* background-color: hsla(0, 0%, 0% , 0.3); */
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

.banner .container {
    width: 100%;
}

.banner .banner-content .text-1 {
    font-size: 27px;
}

.banner .banner-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    text-shadow: 4px 2px 5px #000;
}

.banner .banner-content .text-3 {
    font-size: 40px;
}

.about {
    padding: 50px 10px;
}

.about .container {
    width: 100%;
}

.about .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap : 50px;
}

.about-content .left {
    width: 300px;
    height: 300px;
} 

.about-content .right {
    flex: 1;
}

.about-content .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
}

.about-content .right p {
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
}

.about-content .right a {
    display: inline-block;
    background: none;
    color: crimson;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about-content .right a:hover {
    color: #fff;
    background: crimson;
}

.skills {
    padding: 50px 10px;
    background-color: #f2f2f2;
}

.skills .container {
    width: 100%;
}

.skills .skills-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 20px;
}

.projects {
    padding: 50px 10px;
}

.projects .projects-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap : 20px;
}

.project {
    max-width: 400px;
    border-radius: 10px;
    border: 1px solid #222;
    overflow: hidden;
}

.projects-content .project img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.project .project-details {
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color: #fff;
}

.projects-content .project .links {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.projects-content .project a {
    display: inline-block;
    background: none;
    color: crimson;
    font-size: 14px;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.projects-content .project a:hover {
    color: #fff;
    background: crimson;
}

.contact {
    padding: 50px 10px;
    background-color: #f2f2f2;
}

.contact .contact-content {
    display: flex;
    justify-content: center;
}

.contact-detail {
    max-width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap : 20px;
}

.contact-detail .info {
    display: flex;
    gap: 10px;
    align-items: center;
}