.navbar {
    padding: 30px 10px;
    background: red;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li{
    list-style: none;
    display: inline-block;
    margin-left: 25px;
}

.nav-links li a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.nav-btn {
    display: none;
}