.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: transparent;
    padding: 30px 10px;
    transition: all 0.3s ease;
}

.navbar.scrolled {
    background: crimson;
    padding: 15px 10px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li{
    list-style: none;
    display: inline-block;
    margin-left: 25px;
}

.nav-links li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.nav-btn {
    display: none;
}